@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: Arial, sans-serif;
    user-select: none;
    width: 100%;
    background-color: #283780;
    background-image: url(https://cdn.akamai.steamstatic.com/apps/csgo/images/csgo_react/cs2/bgDarkBlue.svg);
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 80%;
    height: 990px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(60, 54, 54, 0.411);
    margin: 0 auto;
}
header {
    display: flex; 
    width: 80%;  
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to left, #496785, #6DD9DD);
    color: white;
}
.acc{
    height: 30px;
    width: 70px;
    font-size: 90%;
}
.logo{
    height: 90%;
}
.bglogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 98px;
    background: rgb(109, 217, 221);
    border-radius: 25px;
    background: linear-gradient(to left, #496785, #6DD9DD);
}
aside {
    width: 200px;
    background: #6DD9DD;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    flex-grow: 1;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    width: 60%;
    height: 100%;
    background-color: #496785;
    color: white;
}
.aside_button{
    width: 150px;
    height: 120px;
    cursor: pointer;
    margin: 15px 0;
    font-size: 130%;
    padding: 8px;
}
main.show {
    opacity: 1;
}
.info{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;

}
.center{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to left, #496785, #6DD9DD);
    color: white;
}
.tg{
    width: 60px;
    height: 60px;
}
.ds{
    width: 60px;
    height: 60px;
}
table{
    width: 100%;
    height: 100%;
}
tr{
    display: flex;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
    opacity: 0;
}
select{
    width: 180px;
    height: 30px;    
    border-radius: 15px;
    background: #3D88B1;
    color: #FFF;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 24px;
    border: 0;
    text-decoration: none;
}
